* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  height: 100vh;
  width: 100vw;

  background-color: #f4f4f4;
}
#container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  height: 90%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  background-color: white;
  outline: auto;
}
#grid {
  width: 40%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* align-items: center; */
  justify-content: center;
  /* align-content: center; */
  gap: 10px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
.cell {
  outline: auto black;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: 900;
}
#input {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  & input {
    width: 50%;
    padding: 5px 5px;
    border-radius: 2px;
    border: 1px solid black;
  }
  & button {
    padding: 0 10px;
    border-radius: 2px;
    border: 1px solid black;
  }
}
#user-input:disabled {
  cursor: not-allowed;
}
#reset-btn {
  background-color: orange;
  padding: 8px 20px;
  border-radius: 10px;
}
